<div *ngIf="pokemonLoaded && pokemonData.is_default" class="pokemon" routerLink="/pkmn/{{pokemonData.name}}">
  <img src="https://img.pokemondb.net/sprites/omega-ruby-alpha-sapphire/dex/normal/{{pokemonData.name}}.png">
  <p>{{ getPokemonName() }}</p>
  <div class="type-container">
    <span class="type type-{{getPokemonType(1)}}"></span>
    <span *ngIf="getPokemonType(2)" class="type type-{{getPokemonType(2)}}"></span>
  </div>
</div>
<div *ngIf="!pokemonLoaded" class="loader-container">
  <app-pokeball-loader></app-pokeball-loader>
</div>
