@import '../../styles/all';

.header-spacer {
  margin-bottom: $header-padding;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $header-bg-color;
  border-bottom: 2px solid $header-accent-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: $header-height;
  z-index: 2;

  a {
    color: $header-accent-color;
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
  }

  form input {
    margin-right: 5px;

    &:last-child {
      margin: 0;
    }
  }
}
