@import '../../styles/colors';

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $header-bg-color;
  border-bottom: 2px solid $header-accent-color;

  a {
    color: $header-accent-color;
    text-decoration: none;
    display: inline-block;
    padding: 20px 40px;
  }

  form input {
    margin-right: 5px;

    &:last-child {
      margin: 0;
    }
  }
}
