@import '../../styles/all';

.pokemon-list {
  display: flex;
  flex-flow: row wrap;

  app-pkmn-list-item {
    flex: 0 0 50%;

    @include tablet {
      flex: 0 0 25%;
    }

    @include desktop {
      flex: 0 0 12.5%;
    }
  }
}
