/* You can add global styles to this file, and also import other style files */
body {
  background-color: #2ef77b;
  background: linear-gradient(#2e8888, #2ef77b);
  background-repeat: no-repeat;
  min-height: 100vh;
}
