<main>
  <h2>Welcome to DexTracker!</h2>
  <p>DexTracker is an application for keeping track of your Pokemon living dex across several games.
    Keep track of which Pokemon you've seen or caught, their levels, movesets, and what game they're in with an easy-to-use,
    intuitive system. Save your dex information to a single device, or create an account to track your collection on the go.
  </p>
  <div class="flex">
    <a class="btn" routerLink="/pkmnList">Try it out</a>
    <a class="btn" routerLink="/register">Create an account</a>
  </div>
</main>
